@model IEnumerable<ProductTracking.MVC.Models.ProductViewModel>

@{
    Layout = "_Layout";
    ViewBag.Title = "Product List";
}

<form action="/Employee/EmployeeSearch" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#product-list" method="post">
    <p>
        Filter by product name: @Html.TextBox("searchString", null, new { autocomplete = "off", maxlength = 50 })
        <input id="search" type="submit" value="Search" class="btn btn-secondary" />
    </p>
</form>

<div id="product-list">
    @if (Model.Count() != 0)
    {
        <div>
            <table class="table">
                <caption>Product form</caption>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Product Type</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">Calority</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>

                @foreach (var item in Model)
                {
            <tr>
                <td>@item.Name</td>
                <td>@item.ProductType</td>
                <td>@item.Weight</td>
                <td>@item.CreationDate</td>
                <td>@item.Calority</td>
                <td>@item.Price</td>
                @if (this.User.IsInRole("admin"))
                {
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary" })</td>
                }
                else
                {
                    <td></td>
                    <td>@Html.ActionLink("Buy", "Delete", new { id = item.Id }, new { @class = "btn btn-secondary" })</td>
                }
            </tr>
                }
                <tr>
                    <th scope="col">@Html.ActionLink("Back", "Index", "Home", null, new { @class = "btn btn-secondary" })</th>
                </tr>
            </table>
        </div>
    }
    else
    {
        <h2 style="text-align:center">Product list is empty.</h2>
    }
</div>